.ipynb_checkpoints
.ipynb_checkpoints/
__pycache__
__pycache__/
ScriptJob
.venv
*.env
*.lnk
*.pbix
*.vsdx
*.ndjson
*.json
*.xlsx
*.txt
*.docx

incident_conent.txt
template-summary.txt

incident-smart-search-yip
flask_web_search
ref

